@import "../../assets/global.scss";

.registrationContainer {
  display: grid;
  min-height: 100vh;
}

.registrationWrapperBlock {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 40px;
  padding: 50px 30px 30px;
  width: 340px;
  min-height: 450px;
  height: max-content;
  box-shadow: $menu-shadow;
  justify-self: center;
  align-self: center;
  border-radius: 12px;
}

.titleBlock {
  height: max-content;
  font: $font-big;
  text-align: center;
}

.registrationForm {
  display: grid;
  grid-row-gap: 16px;
  grid-template-rows: max-content max-content 1fr;
  grid-auto-rows: max-content;
  height: 100%;
}

.registrationWrapperActions {
  align-self: end;
  display: grid;
  width: 100%;
  grid-row-gap: 14px;
  grid-auto-rows: max-content;
  justify-items: center;
}
