@import '../../../../../assets/variables';

.actionButton {
  display: flex;
  justify-self: center;
  letter-spacing: 0;
  text-align: center;
  color: $button-color;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 280px;
  height: 38px;
  background: $button-bgcolor;
  border-radius: 8px;
}
