@import "../../../assets/variables";

.base-button {
  width: 100%;
  text-align: center;
  height: fit-content;
  display: grid;
  border-radius: 8px;
  padding: 12px;
  color: $button-color;
  background: $button-bgcolor;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: $button-bgcolor-hover;
  }
}
